click==4.0
# closure-linter 2.3.19 this version does not exist in pypi
-e git+https://github.com/google/closure-linter.git@339a468111ce1c94eecc20dc5109a8cbdf98b68e#egg=closure-linter
flake8==2.4.1
pep8==1.5.7  # v1.6.2 has a problem with W503 line break before binary operator
sarge==0.1.4
